* {
    margin: 0;
    padding: 0;
    }
    
body{
text-align: center;
align-content: center;
margin: 0 auto;
padding: 20px;
}


.header{
display: flex;
text-decoration: underline;
align-items: center;
margin-bottom: 10px;
padding: 0 20px;
}
.main-title {
    margin: 0;
    margin-left: 100px;
    margin-right: 20%;
}
.subscribe{
color: grey;
margin-left: 20%;
margin-right: 100px;
}



footer{
    text-align: center;
margin-top: 20px;
padding-top: 10px;
border-top: 1px solid #e5e5e5;
}


footer a {
text-decoration: none;
color: #007bff;
}




.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0 10%;
}

.box {
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.box .date {
    font-size: 0.875rem;
    color: #6c757d;
    margin-bottom: 10px;
}

.box p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.box a {
    color: #007bff;
    text-decoration: underline;
}