header {
  text-align: center;
}

.box {
  justify-content: center;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  overflow: auto;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20%;
}

footer {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.course {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.course:nth-child(even) {
  background-color: rgb(221, 239, 221);
}

.selected {
  background-color: deepskyblue !important;
}








/*

stuff from week 2 evaluation 


*/

header{
  text-align:center;
  
}
.box{
 
  justify-content:center;

  height:300px;
  width:200px;
  border:1px solid black;
  overflow: auto; 

}
.layout{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 20%;
  
} 
footer{
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer span{
  display: flex;
  align-items: center;
  gap: 10px;
}
.box h3{
  text-align: center;
  margin: 10px 0;
      
}
      
.course {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.course:nth-child(even) {
background-color: rgb(221, 239, 221);
}

.selected {
  background-color: deepskyblue !important;
  }